extends ../layouts/default.pug

block main
  h1.box-title Tổng quan

  //- Section 1
  .section-1
    .inner-item
      .inner-icon
        img(src="/admin/assets/images/section-1-icon-1.svg")
      .inner-content
        .inner-title Số lượng tài khoản quản trị
        .inner-number #{overView.totalAccount.toLocaleString("vi-VN")}
    .inner-item
      .inner-icon
        img(src="/admin/assets/images/section-1-icon-2.svg")
      .inner-content
        .inner-title Đơn hàng
        .inner-number #{overView.totalOrder.toLocaleString("vi-VN")}
    .inner-item
      .inner-icon
        img(src="/admin/assets/images/section-1-icon-3.svg")
      .inner-content
        .inner-title Doanh thu
        .inner-number #{overView.totalRevenue.toLocaleString("vi-VN")}đ
  //- End Section 1

  //- Section 2
  .section-2
    .inner-head
      h2.inner-title Biểu đồ doanh thu
      .inner-filter
        input(
          type="month"
          name=""
          month-filter
        )
    .inner-chart
      canvas(id="revenue-chart")
  //- End Section 2

  //- Section 3
  .section-3
    h2.inner-title Đơn hàng mới
    .table-1
      table
        thead
          tr
            th Mã
            th Thông tin khách
            th Danh sách tour
            th Thanh toán
            th Trạng thái
            th.inner-text-right Ngày đặt
        tbody
          each item in orderList
            tr
              td
                .inner-code #{item.code}
              td
                .inner-text Họ tên: #{item.fullName}
                .inner-text SĐT: #{item.phone}
                .inner-text Ghi chú: #{item.note}
              td
                each tour in item.items
                  .inner-item
                    .inner-image
                      img(src=tour.avatar, alt=tour.name)
                    .inner-content
                      .inner-name #{tour.name}
                      .inner-quantity Người lớn: #{tour.quantityAdult} x #{tour.priceNewAdult.toLocaleString("vi-VN")}đ
                      .inner-quantity Trẻ em: #{tour.quantityChildren} x #{tour.priceNewChildren.toLocaleString("vi-VN")}đ
                      .inner-quantity Em bé: #{tour.quantityBaby} x #{tour.priceNewBaby.toLocaleString("vi-VN")}đ 
              td
                div Tổng tiền: #{item.total.toLocaleString("vi-VN")}đ  
                div Thanh toán: #{item.total.toLocaleString("vi-VN")}đ  
                div PTTT: #{item.paymentMethodName}
                div TTTT: #{item.paymentStatusName}
              td
                div(class=`badge badge-${item.statusInfo.color}`) #{item.statusInfo.label}
              td.inner-text-right
                div #{item.createdAtTime}
                div #{item.createdAtDate}
  //- End Section 3